h5{
    font-size: 50px;
   
    font-weight: 700;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-slider{
    padding-top: 10px;
}
.hot-offer{
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: 700;
}
w-lg-50 w-100
body{
    overflow-x: hidden;
}